@use './src/global/_fonts';
@use './src/global/mixins/base-font';
@use './src/global/mixins/base-element-border';

* {
    box-sizing: border-box;
}

body {
    @include base-font.basefont;
    @include base-element-border.baseElementBorder();
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
}